* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.controls {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-left: 8px;
}

.controls>button {
    padding: 2px 4px;
}